body, html {
    height: 100%;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300; /* Sets the light weight for the Fira Sans font */
    background: #18232c;
    color: #333;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    color: #222;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
