/* Global settings */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    background: rgb(14, 17, 17); /* Dark Background Color */
    color: rgba(229, 229, 229, 0.899); /* Light gray for text */
    overflow: hidden; /* Prevents scrolling */
}

/* Container styling */
.container {
    width: 80vw; /* Responsive width based on the viewport width */
    height: auto; /* Allows the height to adjust based on content */
    max-width: 960px; /* Maximum width */
    max-height: 90vh; /* Limits the height to prevent excessive vertical size */
    margin: 5vh auto; /* Minimal vertical margin */
    text-align: center;
    background: rgb(90, 90, 90); /* If you want the container in Pastel Teal instead, change this to #AACC */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.472);
    border-radius: 8px; /* Rounded corners */
    overflow: auto; /* Allows internal scrolling if necessary */
    display: flex; /* Ensures internal items are flex */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Aligns children to start, preventing stretch */

}

.unity-container {
    width: 100%; /* Ensures Unity player expands to fill the container */
    height: auto; /* Ensures Unity player expands to fill the container */
    max-height: 70vh; /* Adjusts based on your actual needs */
}

#unity-canvas {
    width: 100%; /* Full width */
    max-height: 75vh; /* Limits height but maintains full width */
    aspect-ratio: 16 / 9; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the canvas fits within the dimensions without distorting */
}

/* Header styling */
h1 {
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: rgba(229, 229, 229, 0.899); /* Dark gray, change to #E5E5E5 for light gray text if needed */
    letter-spacing: 0.5em; /* Increases spacing between characters */
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.6;
}

/* Link styling */
a {
    color: rgb(170, 204, 204); /* Pastel Teal for links */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
